<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.config.Dept">		<!-- namespace는 보통 패키지명+VO로 간다! -->
	<!--
		개발자는 mybatis를 이용할 경우, 자바코드에서 쿼리문을 작성하지 않으며
		수많은 jdbc 관련 코드 또한 작성할 필요가 없고, 오직 쿼리문에만 집중하면 된다
	-->
	
	<!--모든글 가져오기-->
	<select id="selectAll" resultType="emp.model.Dept"><!-- resultType : 결과 어디다 담을래? VO(Dept) -->
		select * from dept order by deptno asc
	</select>

	<!--한건 가져오기-->
	<select id="select" parameterType="int" resultType="emp.model.Dept">
		select * from dept where deptno=#{deptno}	<!-- ?(물음표) 대신 #{파라미터명} 써야함 -->
	</select>
	
	<!-- 글등록 -->
	<insert id="insert" parameterType="emp.model.Dept">
		insert into dept(dname, loc) values(#{dname}, #{loc})
	</insert>

	<!--한건 수정-->
	<update id="update" parameterType="emp.model.Dept"><!-- 파라미터가 3개이므로, vo로 받아서 넣어줄것이다 -->
		update dept set dname=#{dname}, loc=#{loc} where deptno=#{deptno}	<!-- #{}안에는 반드시 VO에 존재하는 변수명 써야함!!! -->
	</update>
	
	<!-- 삭제하기 -->
	<delete id="delete" parameterType="int">
		delete from dept where deptno=#{deptno}
	</delete>
	
	
</mapper>